@media (min-width: 32.5em) {
    #profile_image {
        float: right;
    }

    header,
    footer {
        border-radius: 15px;
    }

    header h1 {
        padding-right: 310px;
    }

    footer {
        margin-top: 150px;
        padding: 14px 0 1px 0;
    }

    header,
    main,
    footer {
        margin: 1.25rem auto;
        max-width: 80%;
    }
}