@import url('https://fonts.googleapis.com/css?family=Bitter&7COpen+Sans&display=swap');

body {
    line-height: 1.6;
    font-size: 16px;
    width: 95%;
    margin: 0 auto;
    font-family:'Open Sans', sans-serif;
}

main {
    text-decoration: none;
    margin-left: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

h1 {
    font-variant: small-caps;
}

header img {
    padding: 20px;
    margin: 0 10px 0 10px;
}

header,
footer {
    background-color: #056b8a;
    color: #FFFFFF;
    text-align: center;
}

header {
    padding: 15px 0;
}

a {
    color: #000C1F;
}

a:hover {
    color: #F48FB1;
}

footer {
    margin-top: 50px;
    padding: 20px;
    line-height: 1;
}

main h2 {
    border-bottom: 3px solid #F48FB1;
    margin-right: 30px;
}
footer a {
    color: white;
}
