$fontFamilyheading: 'Raleway', sans-serif;
$fontFamilymain: 'Crimson Text', serif;

$neutralColor: #e6d3a3;
$backgroundColor:#F8F3E5;
$actionColor: #4c5760;
$primaryColor: #857e61;

$gutterSmall: 10px;
$gutterMedium: 5%;
$gutterLarge: 2%;

$radius: 7px;
