@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
    line-height: 1.5;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

footer {
    padding-bottom: 1px;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 90%;
}

img {
    max-width: 100%;
    padding-top: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4%;
    padding: 5px 0 20px 0;
}

header,
footer {
    background-color: #056b8a;
    color: #FFFFFF;
    text-align: center;
}

section {
    border: 1px solid black;
    border-radius: 12px;
    background-color: #edf5f8d9;
    padding: -5% 5% 5% 5%;
    line-height: 1.6;
    margin-bottom: 4%;
}
section p, section a {
    padding: 0 5px 0 5px;
}

section h3 {
    position: relative;
    background-color: #0c191dd9;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 5px 0 5px 5px;
    top: -16px;
    border-radius: 10px 10px 0 0;
} 

section img {
    padding: -5px 5px 0 5px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-variant: small-caps;
}

header {
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 2px 6px 3px 6px;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #c8ecf9
}

section a {
    color: #62042a;
}

section a:hover {
    color: #056b8a;
}