@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans&display=swap');

body {
    line-height: 1.1;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

footer {
    padding-bottom: 1px;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 90%;
}

img {
    max-width: 100%;
    padding-top: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3%;
    padding: 5px 0 20px 0;
}

header,
footer {
    background-color: #056b8a;
    color: #FFFFFF;
    text-align: center;
}

section {
    border: 1px solid black;
    border-radius: 12px;
    background-color: #edf5f8d9;
}

section h3 {
    background-color: #0c191dd9;
    color: #FFFFFF;
    font-size: .95em;
    padding: 5px;
}

div {
    padding: -5% 5% 5% 5%;
    line-height: .8;
    margin: 6px;
}

p {
    font-family: 'Bitter', serif;
}

h1,
h2 {
    font-variant: small-caps;
}

header {
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-top: .5px;
    padding-bottom: .5px;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #c8ecf9
}

section a {
    color: #62042a;
}

section a:hover {
    color: #056b8a;
}