body {
    line-height: 1.5;
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
}

picture {
    max-width: 100%;
}

h1 {
    text-align: center;
}

div {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 5fr;  
    justify-content: center;
}