@media (min-width: 64em) {

    footer,
    main {
        width: 95%;
        margin: auto;
    }

    footer {
        margin-top: 40px;
    }

    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        
    }

    .cards section {    
        line-height: .9rem;
        padding: 25px 0;
        width: 100%;
        margin: .5rem 15;
        display: grid;
        background-color: #fed86688;
        opacity: 100%;

    }
}