@import url('https://fonts.googleapis.com/css?family=Montserrat&C7Roboto&display=swap');

body {
    line-height: 1.5;
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background-color: #BCE7FD;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headings {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #000000;
    margin: -20px 0 0 20px;
    font-size: .9rem;
}

#logo {
    width: 120px;
}

/* Navigation Bar */

nav {
    background-color: #212831;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.navigation a.active {
    background-color: #fed766;
    color: #212831;
}

.navigation {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}


.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: #d27f0f;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.responsive li {
    display: block;
}

/* End Nav Bar */

/* Main Section */

main {
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    text-align: center;
}

.cards h3 {
    font-size: 1.8rem;
}

.cards h4 {
    font-style: italic;
}

div.cards {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.cards section div {
    margin: auto;
}

.cards img {
    padding: 15px 20px;
    max-width: 300px;
    margin: 0;
    border-radius: 50%;
    margin: auto;
}

.cards section {    
    line-height: .9rem;
    padding: 25px 0;
    width: 100%;
    margin: .5rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fed86688;
    opacity: 100%;
}



/* Footer Section */

footer {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}