@media (min-width: 64em) {

    footer,
    main {
        width: 95%;
        max-width: 900px;
        margin: auto;
    }

    /* Gallery Page */
    .imagegallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0;
        grid-gap: 20px;
    }

    figure {
        margin: 20px 10px
    }

    figure:hover {
        box-shadow: 10px 5px 15px #000000;
    }

    /*-----------Homepage-----------*/
    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: auto;
        
    }

    .cards section {    
        line-height: .9rem;
        padding: 25px 0;
        width: 100%;
        display: grid;
        background-color: #fed86688;
        opacity: 100%;
    }

    .cards h4 {
        line-height: 1.4rem;
    }

    .cards h3 {
        padding: 0 0 15px 0;
    }

    * {
        box-sizing: border-box;
    }
}