@media only screen and (min-width: 37.5em) {
   
    .navigation {
        display: flex;
        
    }
    
	.navigation li:first-child {
		display: none;
    }
    
	.navigation li {
		display: block;
        flex: 1 1 100%;
	}

    main, footer {
        margin: 0 50px;
    }

 /* --------Forcast Section - City Pages--------- */
    .forecast {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
        background-color: #1e6382;
        padding: 5px 0 20px 0;
        align-items: center;
        border-radius: 15px;
    }
    .forecast h3 {
        color: #ffffff;
    }

    table {
        border: 1px solid #212831;
        border-collapse: collapse;
        width: 70%;
        margin: 0 auto;
    }
    
    .forecast th {
        border: 1px solid #212831;
        height: 30px;
        background-color: #fde9ab;
        color: #000000;
    }
    
    .forecast td {
        border: 1px solid #212831;
        height: 60px;
        background-color: #ffffff;
    }
   .forecast td > * {
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
    }


/* --------Weather Article - City Pages-------- */
    .weatherarticle {
        padding: 10px 40px;
        margin-bottom: 20px;
    }

    .weatherarticle img {
        max-width: 40%;
        float: right;
        margin: 0 0 20px 10px;
    }

    .contactinfo {
        display: flex;
        justify-content: space-around;
    }

    .comtactinfo img {
        max-width: 100%;
    }
    .citymap {
        display: block;
    }

/* ----------Upcoming Events Section - City Pages--------- */
.eventsbox {
    margin-bottom: 20px;
}

/* -----------Image Gallery Page--------- */
    figure {
        margin: 20px 30px
    }

    .imagegallery {
        display: grid;
        max-width:100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }


/*-----------Homepage-------------*/
    .cards section {
        max-width: 100%;
        margin: .5rem auto;
        display: flex;
        flex-direction: row;
        line-height: .9rem;
        padding: 15px 0;
    }

    .cards img {
        max-width: 250px;
    }
    

    .cards section:nth-child(odd) {
        flex-direction: row-reverse;
    }
    
}