@import url('https://fonts.googleapis.com/css?family=Montserrat&C7Roboto&display=swap');

body {
    line-height: 1.5;
    font-size: 16px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background-color: #BCE7FD;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#pancakebanner {
    background-color: #fde9ab;
    color: #000000;
    display: flex;
    justify-content: center;
}

.headings {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #000000;
    margin: -20px 0 0 20px;
    font-size: .9rem;
}

#logo {
    width: 120px;
}


/* Navigation Bar */
nav {
    background-color: #212831;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.navigation a.active {
    background-color: #fde9ab;
    color: #212831;
}

.navigation {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: #d27f0f;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.responsive li {
    display: block;
}


main div {
    margin: 10px 0;
}

section {
    padding: 20px 0;
}


/* Banner Section - City Pages */
.herodiv {
    position: relative;
    width: 100%;
    text-align: center;
}

#heroimage {
    width: 100%;
}

/* City Weather Summary Section - City Pages */
.weathersummary {
    position: absolute;
    top: 4rem;
    left: 20px;
    line-height: .5;
    padding: 5px;
    background: radial-gradient(#fde9ab, #fed766);
    opacity: .9;
}


/* Five Day Forcast Section - City Pages*/
.forecast {
    display: none;
}


/* Article Section - City Pages */
.weatherarticle {
    background-color: #fde9ab;
    opacity: 100%;
    padding: 10px 20px;
}

.weatherarticle img {
    max-width: 100%;
}


/* Contact Info - City Pages */
.contactinfo {
    clear: both;
    display: block;
    text-align: center;
    background-color: #fde9ab;
}

.prestonmap {
    display: none;
}


/* -----------Gallery Page------------- */
main {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: auto;
}

figure {
    box-shadow: 10px 5px 15px #787878;
    justify-content: center;
    width: fit-content;
    margin: 20px auto;
}

figcaption {
    font-style: italic;
    font-size: .8rem;
    margin: 2px 5px;
}

.imagegallery img {
    max-width: 100%;
}


/*-------------Form Page------------*/
form fieldset {
    border: 1px solid #022b3a;
    border-radius: 10px;
    margin: 2rem 0;
    padding: .5rem 2% 1rem 2%;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
    color: #1e6382;
}

form label.top,
form div {
    font-size: .8rem;
    display: block;
    margin: 0 20px 10px 20px;
    padding-top: 1rem;
    color: #022b3a;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(2, 43, 58, .1)
}

form label.sbs,
label.box {
    display: block;
    padding: .25rem 0 .75rem 0;
}

form label.box {
    margin: 0 20px 10px 20px;
}

form input.submitBtn {
    padding: .75rem 1.5rem;
    border: none;
    background-color: #d27f0f;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 20px;
    width: 96%;
    max-width: 20rem;
}

form label.flexly {
    margin: 2rem 0 0 20px;
    display: flex;
    align-items: center;
    max-width: 300px;
}

input#rating {
    padding-left: 20px
}

#ratingvalue {
    margin: 0 0 0 20px;
}


/*------------homepage----------*/
.cards h3 {
    font-size: 1.8rem;
}

.cards h4 {
    font-style: italic;
}

div.cards {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.cards section div {
    margin: auto;
}

.cards img {
    padding: 15px 20px;
    max-width: 300px;
    margin: 0;
    border-radius: 50%;
    margin: auto;
}

.cards section {    
    line-height: .9rem;
    padding: 25px 0;
    width: 100%;
    margin: .5rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fde9ab;
    opacity: 100%;
}

/*--------------- Footer-------------- */
footer {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;

}