@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
    line-height: 1.5;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header,
footer {
    background-color: #bCE7FD;
    color: white;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

header h1,
footer {
    display: flex;
}

h1 {
    justify-content: center;
}

header,
nav,
main,
footer {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #212831;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    display: block;
    min-width: 140px;
    text-align: center;
    line-height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

main {
    margin: 10%;
}
section img {
    max-width: 100%;
    
}

@media only screen and (min-width: 37.5em) {

    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        flex-flow: nowrap;
    }

    footer a {
        padding: 25px;
    }

  



}